# Python Data Type

In [4]:
#variables
x=8
print(x)
type(x)

8

int

In [5]:
b=15
b="dev"
b=85
print(b)

85

# String Type

In [8]:
name= "abdessamad felouach"
print(name)

Abdessamad felouach

In [15]:
name.upper()

'ABDESSAMAD FELOUACH'

In [16]:
name.title()

'Abdessamad Felouach'

In [10]:
#to show all string methods
dir("string")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Indexing

In [17]:
name[5]

's'

In [18]:
#replace methode
name.replace('s','dd')

'Abdeddddamad felouach'

slicing

In [21]:
name[0:5]

'Abdes'

In [22]:
name[-1]

'h'

In [28]:
name[-5:]

'ouach'

# String formating

In [38]:
x= "my name is"
y="Abdessamad felouach"
age=23
z= x+y
z

'my name isAbdessamad felouach'

In [39]:
#with string formating
z="my name is {} and my age is {}".format(y,age) 
z

'my name is Abdessamad felouach and my age is 23'

In [40]:
syntaxe2=f"my name is {y}"
syntaxe2

'my name is Abdessamad felouach'

# LIST

In [55]:
collection =["python" , "Java","c++" ,"Spring",24 ,2.5]
#the list can containe any type of data
#to show list element
collection

['python', 'Java', 'c++', 'Spring', 24, 2.5]

In [56]:
#to show all list methods
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [57]:
#list data acces
collection[2]

'c++'

In [58]:
#aficher la taille de la liste
len(collection)

6

In [59]:
#exemple list method
#delete the last element
collection.pop()
#add item in the last 
collection.append("jee")
#delete specific item from the list
collection.remove("Spring")
collection

['python', 'Java', 'c++', 24, 'jee']

In [61]:
#delete list 
del collection
collection

NameError: name 'collection' is not defined

# Tuples

In [62]:
x=("red","green","yellow" ,"black" ,12)

In [63]:
x[2]

'yellow'

the diffrence between list and tuples is tuples cannot be manipulate

In [64]:
#exemple
x.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Dictionnary

In [69]:
#syntaxe :dic = {"key1":value1" ,"key2":value2" }

In [72]:
mydictionnary ={"id":1 , "name":"abdo" ,"age":23}
mydictionnary

{'id': 1, 'name': 'abdo', 'age': 23}

In [73]:
mydictionnary["age"]

23

In [74]:
#changing value
mydictionnary["age"]="25"
mydictionnary["age"]

'25'

In [75]:
len(mydictionnary)

3

In [76]:
#adding element
mydictionnary["birth"]="1997"
mydictionnary

{'id': 1, 'name': 'abdo', 'age': '25', 'birth': '1997'}

In [77]:

mydictionnary.pop()
mydictionnary

TypeError: pop expected at least 1 arguments, got 0

In [78]:
#delete  element
mydictionnary.pop("age")
mydictionnary

{'id': 1, 'name': 'abdo', 'birth': '1997'}

In [79]:
#delete the last item
mydictionnary.popitem()
mydictionnary

{'id': 1, 'name': 'abdo'}